.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: auto;
  min-height: 100vh;
  padding-top: 28px;
}

.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 60px;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.linkText {
  padding-left: 16px;
}


.linkTextClosed {
  composes: linkText;
  visibility: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;
}
.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}



.hamburger {
  cursor: pointer;
  padding-left: 20px;
  height: 30px;
  width: 50px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


._layer {
  background: #365314;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.is_active ._layer {
  background: #365314;
}

.hamburger:hover ._top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.hamburger:hover ._bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.hamburger.is_active ._top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}

.hamburger.is_active ._mid {
  opacity: 0;
}

.hamburger.is_active ._bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}
